<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<% if (messages.success) { %>
	<div class="flash flash-success"><%= messages.success %></div>
<% } %>
<div class="hand">
	<div class = "card suitdiamonds" onclick="window.location='/search';">
		<img src="/images/user-food.jpg" class="image-icon">
		<p>食品查询</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/business_search';">
		<img src="/images/transport.jpeg" class="image-icon">
		<p>中转查询</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/form';">
		<img src="/images/submit.png" class="image-icon">
		<p>发布商品</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/block';">
		<img src="/images/block.jpg" class="image-icon">
		<p>查询区块</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/transit_form';">
		<img src="/images/transit.png" class="image-icon">
		<p>中转商品</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/register';">
		<img src="/images/register.jpeg" class="image-icon">
		<p>用户注册</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/login';">
		<img src="/images/login.png" class="image-icon">
		<p>用户登录</p>
	</div>
</div>
</html>
