<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Food SupplyChain System</title>
  <link rel="stylesheet" href="/css/index2.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Food Supply chain</div>
    <ul class="layui-nav layui-layout-left">
     
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          user
        </a>
        
      </li>
      <li class="layui-nav-item"><a href="">logout</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a  href="index">Main Page</a></li>

        <li class="layui-nav-item">
          <a class="layui-this" href="publish_item">Publish Item</a>
        </li>

        <li class="layui-nav-item">
          <a href="publish_ingredient">Publish Ingredients</a>
        </li>

        <li class="layui-nav-item">
            <a href="publish_transport">Transport Item</a>
        </li>

        <li class="layui-nav-item">
            <a href="query_item">Query Item</a>
        </li>

        <li class="layui-nav-item">
            <a href="query_ingredient">Query Ingredients</a>
        </li>

        <li class="layui-nav-item">
            <a href="query_transport">Query Transport</a>
        </li>

        <li class="layui-nav-item">
            <a href="query_block">Query Block</a>
        </li>

      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    
    <div style="padding: 15px;">
            <fieldset class="layui-elem-field">
                <legend>Item Production Information</legend>
                <div class="layui-field-box">
                    
                    <form class="layui-form" action="/re_form" method="post" novalidate>
                        <div class="layui-form-item">
                            <label class="layui-form-label">ItemId</label>
                            <div class="layui-input-inline">
                            <input type="text" name="field1" required  lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">ItemName</label>
                            <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">ItemSpec</label>
                             <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Production Date</label>
                                <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Expiration Date</label>
                                <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Batch Number</label>
                                <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Item Manufacturer</label>
                                <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">Item Location</label>
                                <div class="layui-input-inline">
                            <input type="text" name="field1" required lay-verify="required"  autocomplete="off" class="layui-input">
                            </div>
                        </div>


                        
                        
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">Submit</button>
                            <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>

    
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
  
  </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/layui.js"></script>
<script type="text/javascript" src="/js/sys_config.js"></script>
</body>
</html>