<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Food SupplyChain System</title>
    <link rel="stylesheet" href="/css/index2.css">
    <link rel="stylesheet" type="text/css" href="css/detail.css" />
    <link rel="stylesheet" type="text/css" href="css/search.css" />
    <script src="https://ajax.lug.ustc.edu.cn/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://ajax.lug.ustc.edu.cn/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>

<body class="layui-layout-body" ng-app="application" ng-controller="appController" >
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">Food Supply chain</div>
            <ul class="layui-nav layui-layout-left">

            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://picsum.photos/400/800?image=1" class="layui-nav-img">  <strong><%=session.username %> </strong>  <%=session.userId %> 
                    </a>

                </li>
                <li class="layui-nav-item">
                    <a href="">logout</a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="layui-this" href="index">Main Page</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="publish_item">Publish Item</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="publish_ingredient">Publish Ingredients</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="publish_transport">Transport Item</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="query_item">Query Item</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="query_ingredient">Query Ingredients</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="query_transport">Query Transport</a>
                    </li>

                    <li class="layui-nav-item">
                        <a href="query_block">Query Block</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <table id="block_source">
                <tr>
                    <th>BlockID</th>
                    <th>Previous_hash</th>
                    <th>Data_hash</th>
                    <th>TransactionID</th>
                    <th>Timestamp</th>
                </tr>
                <tr ng-repeat="block in block_source">
                    <td>{{block.split(" ")[0]}}</td>
                    <td>{{block.split(" ")[1]}}</td>
                    <td>{{block.split(" ")[2]}}</td>
                    <td>{{block.split(" ")[3]}}</td>
                    <td>{{block.split(" ")[4]}}</td>
                </tr>
            </table>

            <div class="refresh">
                <input type="submit" value="Refresh" id="submit" style="border-radius: 3px; width:250px;height:50px;background:#00CC00;margin-right: 650px;margin-bottom:400px" ng-click="queryAllBlock()">
            </div>
       
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->

        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/layui.js"></script>
    <script type="text/javascript" src="/js/sys_config.js"></script>
    <script type="text/javascript" src="/js/app.js"> </script>
    <script type="text/javascript" src="/js/dw.js"> </script>

</body>

</html>