<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<% if (messages.success) { %>
	<div class="flash flash-success"><%= messages.success %></div>
<% } %>
<div class="hand">
	<div class = "card suitdiamonds" onclick="window.location='/search';">
		<img src="/images/user-food.jpg" class="image-icon">
		<p>Search Food</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/part_search';">
		<img src="/images/part_of_food.jpg" class="image-icon">
		<p>Search Ingredient</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/business_search';">
		<img src="/images/transport.jpeg" class="image-icon">
		<p>Search Transport</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/block';">
		<img src="/images/block.jpg" class="image-icon">
		<p>Search Block</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/form';">
		<img src="/images/submit.png" class="image-icon">
		<p>Publish Food</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/part_form';">
		<img src="/images/batching.jpg" class="image-icon">
		<p>Publish Ingredients</p>
	</div>
	<div class = "card suitdiamonds" onclick="window.location='/transit_form';">
		<img src="/images/transit.png" class="image-icon">
		<p>Transport Food</p>
	</div>
</div>
</html>
