<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="/css/welcome.css" />
</head>
<% if (messages.success) { %>
	<div class="flash flash-success"><%= messages.success %></div>
<% } %>
<div class="hand">
	<div class = "card" onclick="window.location='/register';">
		<img src="/images/register.jpeg" class="image-icon">
		<p>用户注册</p>
	</div>
	<div class = "card" onclick="window.location='/login';">
		<img src="/images/login.png" class="image-icon">
		<p>用户登录</p>
	</div>
</div>
</html>
